@media screen and (min-width:600px) and (max-width:959px){.has-text-centered-tablet-only{text-align:center!important}}
@media screen and (min-width:600px) and (max-width:959px){.has-text-justified-tablet-only{text-align:justify!important}}
@media screen and (min-width:600px) and (max-width:959px){.has-text-left-tablet-only{text-align:left!important}}
@media screen and (min-width:600px) and (max-width:959px){.has-text-right-tablet-only{text-align:right!important}}