@media screen and (min-width:960px) and (max-width:1279px){.has-text-centered-desktop-only{text-align:center!important}}
@media screen and (min-width:960px) and (max-width:1279px){.has-text-justified-desktop-only{text-align:justify!important}}
@media screen and (min-width:960px) and (max-width:1279px){.has-text-left-desktop-only{text-align:left!important}}
@media screen and (min-width:960px) and (max-width:1279px){.has-text-right-desktop-only{text-align:right!important}}
@media screen and (min-width:960px) and (max-width:1279px){.is-hidden-desktop-only{display:none!important}}